.navbar {
    font-family: "Courier New", monospace;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    bottom: 0;
    cursor: pointer;
    flex-wrap: wrap;
    padding: 15px;
    z-index: 10;
}

.logo-container {
    display: flex; /* Ensures logos are side by side */
    align-items: center;
    gap: 5px; /* Adjust spacing between logos */
}

/* Individual logo styling */
.logo-container img {
    transition: transform 0.15s ease-in-out;
}

.logo-container img:hover {
    transform: scale(1.1); /* Slight zoom effect on hover */
}

.navbar.background{
    background-color: floralwhite;
}

.nav-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: auto;
}

.nav-list li {
    list-style: none;
    padding: 15px 20px;
}

.nav-list li a {
    text-decoration: none;
    color: #000;
}